.intro__list {
  margin-top: 32px;
  color: white;
  list-style-type: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  padding-left: 0;
  padding-right: 0;
}
