.lead__title {
  color: white;
  text-align: center;
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 100px;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .lead__title {
  padding-left: 16px;
  padding-right: 16px;
  font-size: 40px;
  line-height: 44px;
  max-width: 288px;
  }
}
