.footer__copyright {
display: inline;
font-family: 'Inter';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .footer__copyright {
    margin-right: 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer__copyright {
    margin-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    padding-top: 48px;
    padding-left: 16px;
  }
}







