@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list/_bold/intro__list_bold.css);

.intro {
  margin-top: 90px;
  max-width: 690px;
  min-width: 288px;
  margin-left: 148px;
  margin-right: 442px;
  margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin-top: 92px;
    width: 100%;
    margin-right: 286px;
    margin-left: 48px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    margin-top: 88px;
    max-width: 288px;
    margin-bottom: 99px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    margin-top: 64px;
    width: 100%;
    margin-right: 16px;
    margin-left: 16px;

  }
}

