.cover__title {
  font-style: normal;
  font-size: 72px;
  line-height: 76px;
  color: white;
  max-width: 560px;
  max-height: 152px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 245px;
}

@media screen and (max-width: 1024px){
  .cover__title {
  padding-top: 195px;
  }
}

@media screen and (max-width: 768px){
  .cover__title {
  padding-top: 115px;
  }
}

@media screen and (min-width: 426px) and (max-width: 530px) {
  .cover__title {
  font-size: 60px;
  max-width: 420px;
  }
}

@media screen and (max-width: 425px) {
  .cover__title {
  padding-top: 24px;
  max-width: 240px;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  font-weight: 900;
  }
}

