@import url(./__title/place__title.css);
@import url(./__website/place__website.css);
@import url(./__url/place__url.css);
@import url(./__link/place__link.css);
@import url(./__image/place__image.css);
@import url(./__text/place__text.css);
@import url(./__paragraph/place__paragraph.css);

.place {
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, max-content));
  grid-template-rows: auto auto;
  grid-gap: 48px 40px;
  justify-content: center;
  max-width: 984px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
    grid-gap: 48px 32px;
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    padding-top: 72px;
    max-width: 720px;
    grid-gap: 48px 28px;
  }
}

@media screen and (max-width: 425px) {
  .place {
    padding-top: 48px;
    max-width: 320px;
  }
}
